.medio{
  padding-top: 15%;
  margin: auto;
  width: 80%

}

.formulario{
  background-color: white;

}

.divBoton{
  margin-bottom: 10%
}


body{
  background-image: url("https://a.pomf.cat/ijdlcd.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}